# Source file
# TODO why was this here it makes install ignore dist/theme/components
# Components

# Dotfiles
.babelrc
.eslintignore
.eslintrc.json
.gitattributes
_config.yml

# Documents
CONTRIBUTING.md
ISSUE_TEMPLATE.txt
img
